<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <test name="Functional Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.demowebshop.testscripts.HomeTest">
                <methods>
                    <include name="verifyHomePageTitle"/>
                </methods>
            </class>
           <!-- <class name="com.demowebshop.testscripts.RegisterTest">
                <methods>
                    <include name="verifyUserRegistration"/>
                </methods>
            </class>-->
          <!--  <class name="com.demowebshop.testscripts.LoginTest">
                <methods>
                </methods>
            </class>
            <class name="com.demowebshop.testscripts.UserAccountTest">
                <methods>
                </methods>
            </class>-->
        </classes>
    </test>
</suite>